*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.select-project {
  margin: 30px 0 30px 30px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .select-project {
    margin: 30px 0 30px 50px;
    padding-left: 50px;
    text-align: start;
  }
}

.other-link-text {
  color: #198CFF;
  text-decoration: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.alert-error {
  color: rgb(177, 0, 0);
}

.no-projects {
  margin-top: 30px;
  text-align: center;
  color: #A0A3AA;
}
